*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: font;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    margin: 0;
}
.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:hsl(0, 0%, 12%);
    height: 400px;
    width: 400px;
    border-radius: 10px;
}
h3{
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}
.loc{
    padding-bottom: 3px;
    color:hsl(75, 94%, 57%);
    font-size: 20px;
}
.sub{
    color: hsl(0, 2%, 76%);
}
a{
    background-color:  hsl(0, 0%, 20%);
    color:hsl(0, 0%, 100%); 
    width: 100%;
    height: 40px;
    width: 205px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}
a:hover{
    color: yellow;
    background-color: black;
    transition: 0.2s;
}
div{
    margin-top: 30px;
    color: white;
    text-align: center;
}